ul.cards-split {
  width: 660px;
  height: 280px;
  list-style-type: none;
  position: relative;
  margin: 0 auto 20px;
  padding: 20px;
  cursor: pointer;
}
ul.cards-split li.title {
  margin: 0 0 20px;
}
ul.cards-split li.title h2 {
  font-weight: 700;
}
ul.cards-split li.card {
  background: #fff;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  left: 220px;
  box-shadow: 1px 2px 2px 0 #aaa;
  transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
}
ul.cards-split li.card img {
  max-width: 100%;
  height: auto;
}
ul.cards-split li.card div.content {
  padding: 5px 10px;
}
ul.cards-split li.card.card-1 {
  z-index: 10;
  transform: rotateZ(-2deg);
}
ul.cards-split li.card.card-2 {
  z-index: 9;
  transform: rotateZ(-7deg);
  transition-delay: 0.05s;
}
ul.cards-split li.card.card-3 {
  z-index: 8;
  transform: rotateZ(5deg);
  transition-delay: 0.1s;
}
ul.cards-split.transition li.card {
  transform: rotateZ(0deg);
}
ul.cards-split.transition li.card.card-1 {
  left: 0px;
}
ul.cards-split.transition li.card.card-2 {
  left: 440px;
}
ul.cards-split.transition li.card.card-3 {
  left: 220px;
}
